extends layout

block content
  a(href='/') Voltar
  .w3-card-4
    header.w3-pink
      h2.w3-center #{entidade.nipc} - #{entidade.nome}
  p Somatório de todos os contratos: #{somatorio}
  .w3-container
    table.w3-table-all
      thead
        th idContrato
        th objectoContrato
        th precoContratual
        th dataCelebracaoContrato
      tbody
        each contrato in contratos
          tr
            td
              a(href='/' + contrato._id)= contrato._id
            td= contrato.objectoContrato
            td= contrato.precoContratual
            td= contrato.dataCelebracaoContrato
